{% load static %}
{% include 'accounts/login.html' %}


<!DOCTYPE HTML>
<html>

<head>
    <title>RBMS | Room Booking Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


    <script
        type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <!-- Custom Theme files -->
    <script src="{% static 'js/jquery-1.12.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!--animate-->
    <link href="{% static 'css/animate.css' %}" rel="stylesheet" type="text/css" media="all">
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script>
        new WOW().init();
    </script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <!--//end-animate-->
</head>

<body>
    {% if user.is_authenticated %}
    <div class="top-header">
        <div class="container">
            <ul class="tp-hd-lft wow fadeInLeft animated" data-wow-delay=".5s">
                <li class="hm"><a href="{% url 'accounts:home' %}"><i class="fa fa-home"></i></a></li>
                <li class="prnt"><a href="#">My Profile</a></li>
                <li class="prnt"><a href="{% url 'accounts:change-password' %}">Change Password</a></li>
                <li class="prnt"><a
                        href="{% if user.role == 'Prospective tenant' %}{% url 'rentals:booking-history' %}{% else %}{% url 'rentals:landlords-rooms' %}{% endif %}">My
                        History</a></li>
                <li class="prnt">
                    {% if user.role == 'Landlord' %}
                        <a href="{% url 'rentals:add-apartment' %}">Add Apartment</a>
                    {% else %}
                        <a href="#">XXX</a>
                    {% endif %}
                </li>
            </ul>
            <ul class="tp-hd-rgt wow fadeInRight animated" data-wow-delay=".5s">
                <li class="tol">Welcome :</li>
                <li class="sig">@{{ user.username }}</li>
                <li class="sigi"><a href="{% url 'accounts:logout' %}"> Logout</a></li>
            </ul>
            <div class="clearfix"></div>
        </div>




    </div>
    {% else %}
    <div class="top-header">
        <div class="container">
            <ul class="tp-hd-lft wow fadeInLeft animated" data-wow-delay=".5s">
                <li class="hm"><a href="{% url 'accounts:home' %}"><i class="fa fa-home"></i></a></li>
                <li class="hm"><a href="/admin/">Admin Login</a></li>
            </ul>
            <ul class="tp-hd-rgt wow fadeInRight animated" data-wow-delay=".5s">
                <li class="tol">Toll Number : 123-4568790</li>
                <li class="sig"><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
                <li class="sigi"><a href="#" data-toggle="modal" data-target="#myModal4">Sign In</a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    {% endif %}

    {% for message in messages %}
    <script>
        mes = "{{message}}";
        alert(mes);
    </script>
    {% endfor %}

    <div class="header">
        <div class="container">
            <div class="logo wow fadeInDown animated" data-wow-delay=".5s">
                <a href="{% url 'accounts:home' %}">Room Booking <span>Management System</span></a>
            </div>

            <div class="lock fadeInDown animated" data-wow-delay=".5s">
                
                <li>
                    <form method="get" action="{% url 'rentals:result' %}" role="search" style="margin-right: 10px; width: 500px; display: flex; justify-content: space-between; padding-inline: 10px;">
                        <input class="form-control" type="search" name="query" placeholder="Search Vacant Rooms" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>


                </li>
                <li><i class="fa fa-lock"></i></li>
                <li>
                    <div class="securetxt">SAFE &amp; SECURE </div>
                </li>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <!--- footer-btm ---->
    <div class="footer-btm wow fadeInLeft animated" data-wow-delay=".5s">
        <div class="container">
            <div class="navigation">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                        <nav class="cl-effect-1">
                            <ul class="nav navbar-nav">
                                <li><a href="{% url 'accounts:home' %}">Home</a></li>
                                <li><a href="page.php?type=aboutus">About</a></li>
                                <li><a href="{% url 'rentals:rooms' %}">Vaccant Rooms</a></li>
                                <li><a href="page.php?type=privacy">Privacy Policy</a></li>
                                <li><a href="page.php?type=terms">Terms of Use</a></li>
                                <li><a href="page.php?type=contact">Contact Us</a></li>
                                {% if user.is_authenticated %}
                                <li>Need Help?<a href="#" data-toggle="modal" data-target="#myModal3"> / Write Us </a>
                                </li>
                                {% else %}
                                <li><a href="enquiry.php"> Enquiry </a> </li>
                                {% endif %}
                                <div class="clearfix"></div>

                            </ul>

                        </nav>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    {% if must %}

    {% else %}
    <div class="banner-3 ">
        <div class="container">
            <h1 class="wow zoomIn animated animated" data-wow-delay=".5s"
                style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;">TMS-Room Booking Management
                System</h1>
        </div>
    </div>
    {% endif %}
    {% block content %}

    {% endblock %}

    <div class="copy-right">
        <div class="container">

            <div class="footer-social-icons wow fadeInDown animated animated" data-wow-delay=".5s"
                style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
                <ul>
                    <li><a class="facebook" href="#"><span>Facebook</span></a></li>
                    <li><a class="twitter" href="#"><span>Twitter</span></a></li>
                    <li><a class="flickr" href="#"><span>Flickr</span></a></li>
                    <li><a class="googleplus" href="#"><span>Google+</span></a></li>
                    <li><a class="dribbble" href="#"><span>Dribbble</span></a></li>
                </ul>
            </div>
            <p class="wow zoomIn animated animated" data-wow-delay=".5s"
                style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;">© 2020 TMS . All Rights
                Reserved </p>
        </div>
    </div>
</body>

</html>