{% extends "base.html" %}

{% block content %}
<div class="rooms">
    <div class="container">

        <div class="room-bottom">
            <h3>Apartments Available({{ apartments|length }}) {% if query  %} for search `<i>{{query}}</i>` {% endif %} </h3><p></p>


            {% for apartment in apartments %}
            <div class="rom-btm">
                <div class="col-md-3 room-left wow fadeInLeft animated" data-wow-delay=".5s">
                    <img src="/media/{{ apartment.image }}" class="img-responsive" alt="">
                </div>
                <div class="col-md-6 room-midle wow fadeInUp animated" data-wow-delay=".5s">
                    <h4>Apartment Name:
                        {{apartment.apartment_name}}
                    </h4>
                    <br>
                    <p><b>Appartment Location :</b>
                        {{apartment.location}}
                    </p>
                    
                    <!-- <p><b>Appartment Name :</b>
                        {{room.apartment.landlord.user.username}}
                    </p> -->

                    <p><b>Facilities : </b>
                        {{apartment.facilities}}
                    </p>
                </div>
                <div class="col-md-3 room-right wow fadeInRight animated" data-wow-delay=".5s">
                    
                    <div class="view">
                        <p>Last Modified :
                            {{apartment.date_updated|timesince}} ago.
                        </p>
                    </div>
                    
                    <a href="{% url 'rentals:apartment' apartment.id %}" class="view" >Details</a>
                        
                    


                </div>
                <div class="clearfix"></div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock content %}