{% load static %}

<!DOCTYPE HTML>
<html>

<head>
    <title>TMS | Admin Sign in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/morris.css' %}" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="{% static 'css/font-awesome.css' %}" rel='stylesheet' />
    <link href="{% static 'css/jquery-ui.css' %}" rel='stylesheet' />
    <!-- jQuery -->
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <!-- //jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet'
        type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link href="{% static 'css/icon-font.min.css' %}" rel='stylesheet' type='text/css' />
    <!-- //lined-icons -->
</head>

<body>
    <div class="main-wthree">
        <div class="container">
            <div class="sin-w3-agile">
                <h2>Sign In</h2>
                <form method="post">
                    <div class="username">
                        <span class="username">Username:</span>
                        <input type="text" name="username" class="name" placeholder="" required="">
                        <div class="clearfix"></div>
                    </div>
                    <div class="password-agileits">
                        <span class="username">Password:</span>
                        <input type="password" name="password" class="password" placeholder="" required="">
                        <div class="clearfix"></div>
                    </div>

                    <div class="login-w3">
                        <input type="submit" class="login" name="login" value="Sign In">
                    </div>
                    <div class="clearfix"></div>
                </form>
                <div class="back">
                    <a href="/">Back to home</a>
                </div>

            </div>
        </div>
    </div>
</body>

</html>